[Unit]
Description=Miniwolf RF Traffic Logger
After=network.target

[Service]
# !!! CHANGE THIS !!!
User=root
WorkingDirectory=/home/user 
ExecStart=/usr/local/bin/mw_log --udp-port 18144

# Log files are written to working directory
# Restart on failure to maintain logging continuity
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=0
Type=simple

[Install]
WantedBy=multi-user.target
